---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='19 Giugno' %}

  <div class="schedule" data-dates="6-19">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.30-9.50' title='Introduzione' fill='true' %}
        {% include schedule/talk.html time='09:50-10.35' title='Make CSS great again' fill='true' %}
        {% include schedule/talk.html time='10.35-11.20' title='Report Manager e Stampa, un caso reale'  fill='true' %}
        {% include schedule/pause.html time='11.20-11.35' title='Short break e Networking' icon="coffee" fill='true' %}  
        <tr>
          {% include schedule/talk.html title="Web Components: illusione o realtà?" time='11.35-12.20' fill='true' %}
        </tr> 
        <tr>
          {% include schedule/talk.html title="Font variabili? Sì grazie." time='12.20-13.05' fill='true' %}
        </tr>        

        {% include schedule/pause.html time='13.05-14.05' title='Lunch e Networking' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html title="L'uno contro l'altro? Praticamente amici! - CSS in JS" time='14.10-14.55' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title="Accessibilità... con stile" time='14.55-15.40' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Se Miyazaki fosse stato un developer' time='15.40-16.25' fill='true' %}
        </tr>

        {% include schedule/pause.html time='16.25-18.00' title='Saluti, ringraziamenti e Networking' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="6-19">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        
        {% include schedule/event.html time='9.30-9.50' title='Introduzione' fill='true' %}
        {% include schedule/talk.html time='09:50-10.35' title='Make CSS great again' fill='true' %}
        {% include schedule/talk.html time='10.35-11.20' title='Report Manager e Stampa, un caso reale'  fill='true' %}
        {% include schedule/pause.html time='11.20-11.35' title='Short break e Networking' icon="coffee" fill='true' %}  
        <tr>
          {% include schedule/talk.html title='Font variabili? Sì grazie.' time='11.35-12.20' fill='true' %}
        </tr> 
        <tr>
          {% include schedule/talk.html title='Accessibilità... con stile' time='12.20-13.05' fill='true' %}
        </tr>        

        {% include schedule/pause.html time='13.05-14.05' title='Lunch e Networking' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html title="L'uno contro l'altro? Praticamente amici! - CSS in JS" time='14.10-14.55' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title="Web Components: illusione o realtà?" time='14.55-15.40' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html title='Se Miyazaki fosse stato un developer' time='15.40-16.25' fill='true' %}
        </tr>

        {% include schedule/pause.html time='16.25-18.00' title='Saluti, ringraziamenti e Networking' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
